* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Comic Neue", cursive;

    color: white;
    background-color: rgb(43, 43, 43);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------- */
.app {
    background-color: rgb(108, 108, 108);
    border: 1px dashed greenyellow;

    border-radius: 25px;
}

/* searching by name */
.app__search {
}
.app__search--location-icon {
}
.app__search--input {
}
.app__search__btn--search-icon {
}

.app__main {
}

/* weather info */
.app__main__weather {
}
.app__main__weather--icon {
}
.app__main__weather--temp {
}
.app__main__weather--name {
}

/* sunrise */
.app__main__sunrise {
}
.app__main__sunrise--icon {
}
.app__main__sunrise--name {
}
.app__main__sunrise--time {
}

/* sunset */
.app__main__sunset {
}
.app__main__sunset--icon {
}
.app__main__sunset--name {
}
.app__main__sunset--time {
}
